@import './mixins.scss';

$base-color-dark: #1e2022;
$base-color-blue: #302e53;
$base-color-orange: #d07017;

$font-family-robotocondensed-regular: 'Roboto Condensed Regular';
$font-family-robotocondensed-bold: 'Roboto Condensed Bold';
$font-weight-robotocondensed-regular: 400;
$font-weight-robotocondensed-bold: 700;
